/*-----------------RESPONSIVE*/

$mob: 425px;
$tablet: 768px;
$laptop-small: 1024px;
$laptop: 1440px;


@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $mob) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $mob + 1) and (max-width: $tablet) { @content; }
  }
  @else if $media == laptop-screens {
    @media only screen and (min-width: $laptop-small - 1) and (max-width: $laptop + 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $laptop) { @content; }
  }
}

/*-----------------SLIDER*/

.Slider {
    margin: 0 auto;

    @include respond-to(mob) { 
        width: 100%;
    }
    @include respond-to(medium-screens) { 
      margin: 0;
    }
    @include respond-to(laptop-screens) { 
    
    }
    @include respond-to(wide-screens) { 

    }
}

.SliderWrapp {
    display: flex;
}

.SliderThumbnails {
    width: 400px;
    margin-top: 5%;

    @include respond-to(mob) { 
        width: 100%;
    }
    @include respond-to(medium-screens) { 

    }
    @include respond-to(laptop-screens) { 
    
    }
    @include respond-to(wide-screens) { 

    }
}

.SliderThumbnail {
    cursor: pointer;
}

.SliderThumbnail h4 {
    margin-top: 5%;    
}

.SliderMainImg img {
    width: 100%;

}